body { 
  background: rgb(0,75,100);
  margin-left: 10%;
  margin-right: 10%;
  margin-bottom: 2em;
  margin-top: 1em;
}

#bodybox { 
  background: white;
  padding: 0.5em 5em 2em 5em;
  border-color: grey;
  border-style: solid;
  border-width: thin;
}

#navbar { 
  text-align: center;
  margin-bottom: 0.5em;
}

#navbar a { 
  display: float;
  background: rgb(230,240,255);
  border-color: rgb(130,140,155);

  border-style: solid;
  border-width: thin;

  font-family: sans-serif;
  font-size: 1.2em;
  padding-left: 0.5em;
  padding-right: 0.5em;
 text-decoration:none; 
}

img.screenshot { 
  float: right; 
  clear: right; 
  margin: 0.2em;
  border-style: none;
}

h2 { 
  font-family: sans-serif;
  background: rgb(240, 250, 255);

  padding: 0px 0px 0px 2em;
  margin: 0px;

  border-bottom-style: solid;
  border-bottom-width: thin;
}

div.boxed div.body { 
  padding-left: 1em;
  padding-right: 1em;
}

div.boxed { 
  background: rgb(230,240,255);
  border-color: rgb(130,140,155);
  border-style: solid;
  border-width: thin;
  margin-bottom: 2em;
  margin-top: 2em;
  padding: 0px;
}

// EOF //

